<h1>Your Score</h1>

<p>Below is how you performed on each question</p>


<% @user_points.each do |user_point| %>
	<div class="<% if user_point.correct_answer == user_point.user_answer %>alert-success alert<% else %>alert alert-danger<% end %>">
		<h2>Question <%= user_point.question.question %></h2>
		<%= user_point.correct_answer %>		
		<% if user_point.correct_answer == user_point.user_answer %>
			<p>Your answer is correct</p>
		<% else %>
			<p>Your answer is incorrect: <%= users_answer(user_point.question.id).answer2 %></p>
		<% end %>
	</div>
<% end %>
