<h1>User Statistics</h1>
<h3>January 1, 2012 - February 1, 2012</h3><br />
<div class="row">
	<div class="span8">
		<div class="page-header">
			<h4>Full Leaderboard</h4>
		</div>
		<%= image_tag "leaderboard.png" %>
	</div>
	<div class="span4">
		<div class="page-header">
			<h4>Key Metrics</h4>
		</div>
		<p>asdfasdfasdfasdfasdasdfasasdadfs</p>
		<div class="page-header">
			<h4>Current Badges</h4>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Image</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Most Questions Answered</td>
					<td><%= image_tag "badge-crown.png" %></td>
				</tr>
				<tr>
					<td>Most Social</td>
					<td><%= image_tag "badge-social.png" %></td>
				</tr>
				<tr>
					<td>Most Sales</td>
					<td><%= image_tag "badge-money.png" %></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
