<!DOCTYPE html>
<html> <head>
<title>Sales Quiz and Leaderboard | <%= @title %></title> </head>
<body> <h1>Sample Home</h1> <p>
This is the home page for the Sales Quiz and Leaderboard App.
</p> </body>
</html>