<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li class=""><%= link_to 'Home', new_user_path %></li>
				<li class=""><%= link_to 'Take the Quiz', questions_path %></li>
			</ul>
		</div>
	</div>
</div>